services:
  backend:
    build: 
      context: ./backend
    command: gunicorn suiveo_api.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./backend:/app
      - static_volume:/app/static
      - media_volume:/app/media
    expose:
      - 8000
    env_file:
      - .env.prod
    depends_on:
      - db
    networks:
      - suiveo-network

  db:
    image: postgres:15-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env.prod
    networks:
      - suiveo-network

  frontend:
    build:
      context: ./frontend
    volumes:
      - static_volume:/app/static
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - suiveo-network

volumes:
  postgres_data:
  static_volume:
  media_volume:

networks:
  suiveo-network:
    driver: bridge
